<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find xacro)/xacro --inorder '$(find my_robot_description)/urdf/my_robot.urdf.xacro'"/>
    <param name="/my_robot/robot_description" command="$(arg model)"/>
    <arg name="rvizconfig" default="$(find my_robot_description)/rviz/config.rviz"/>   

    <group ns="my_robot">
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="rate" value="50"/>
        </node>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="publish_frequency" value="50"/>
        </node>
        
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
        </group> 
</launch>