<?xml version="1.0"?>
<launch>
    <arg name="world_name" default="bookstore"/>
    <arg name="rvizconfig" default="$(find my_robot_gazebo)/rviz/config.rviz"/>
    
    <include file="$(find my_robot_gazebo)/launch/my_robot_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find my_robot_description)/launch/my_robot_urdf.launch">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>

    <arg name="pos" default="-x 0.0 -y 0.0 -z 0.0 -Y 0.0" if="$(eval world_name == 'bookstore')"/>
    <arg name="pos" default="-x 0.0 -y 10.0 -z 0.0 -Y -1.57079632679" if="$(eval world_name == 'hospital')"/>
    <arg name="pos" default="-x 1.0 -y 14.0 -z 0.0 -Y -1.57079632679" if="$(eval world_name == 'willow_garage')"/>
    <arg name="pos" default="-x 4.3 -y 0 -z 0.0 -Y -1.57079632679" if="$(eval world_name == 'debug')"/>

    <group ns="my_robot">
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
            args="-urdf -model my_robot $(arg pos) -param robot_description"/>
    </group>
</launch>