<?xml version="1.0"?>
<launch>
    <arg name="use_gazebo" default="true"/>
    <arg name="rvizconfig" default="$(find my_robot_navigation)/rviz/config.rviz"/>   
    <arg name="world_name" default="bookstore"/>
    <arg name="use_amcl" default="true"/>
    <arg name="map_file" default="$(find my_robot_slam)/maps/$(arg world_name).yaml" if="$(arg use_amcl)"/>
    
    <include file="$(find my_robot_gazebo)/launch/my_robot_gazebo.launch" if="$(arg use_gazebo)">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find my_robot_description)/launch/my_robot_urdf.launch" unless="$(arg use_gazebo)">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>
    
    <include file="$(find my_robot_control)/launch/uwb_anchors_set.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>
    
    <group ns="my_robot">
        <node name="odom_pub" pkg="my_robot_control" type="odometry.py"/>
        
        <node name="imu_filter_madgwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
            <param name="world_frame" value="enu" if="$(eval world_name=='bookstore')"/>
            <param name="world_frame" value="nwu" if="$(eval world_name=='debug')"/>
            <param name="fixed_frame" value="base_link"/>
            <param name="use_mag" value="false"/>
            <param name="use_magnetic_field_msg" value="false"/>
            <param name="publish_tf" value="false"/>
            <param name="publish_debug_topics" value="true"/>
        </node>
        

        <group if="$(arg use_amcl)">
            <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
            
            <include file="$(find my_robot_navigation)/launch/amcl.launch">
                <arg name="world_name" value="$(arg world_name)"/>
            </include>
        </group>

        <group unless="$(arg use_amcl)">
            <node name="slam_karto" pkg="slam_karto" type="slam_karto" output="screen">
                <rosparam command="load" file="$(find my_robot_slam)/config/karto_params.yaml"/>
            </node>
        </group>
        
        <include file="$(find my_robot_navigation)/launch/move_base.launch"/>
    </group>
</launch>